body {
	background-color: #3f4041;
}

.myweather {
	height: 100%;
	width: 100%;
	text-align: center;
}

h2 {
	font-size: 18px;
	color: #ffffff;
}

button {
	font-size: 18px;
	color: #ffffff;
	border: 2px solid buttonface;
	border-radius: 20px;
	padding: 10px 25px;
	opacity: 1.5;
}